<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style">
</head>
<body>

    <div id="title">
        <h1>Click on any book to see the details.</h1>
    </div>
    <br>
    <br>
    <div id="book_list">
        <table>
                <tr>
                    <td><a href="books/1"><%= data[0].book%></a></td>
                </tr>
                <tr>
                    <td><a href="books/2"><%= data[1].book%></a></td>
                </tr>
                <tr>
                    <td><a href="books/3"><%= data[2].book%></a></td>
                </tr>
        </table>
    </div>
</body>
</html>